body {
  font-family: 'Source Sans Pro','Helvetica Neue','Helvetica','Arial,sans-serif';
  font-weight: 400;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #fff;
}

/* Alterando a barra horrizontal*/
  
.skin-blue .main-header .navbar {
  background-color: #0c6e5f;
}


/* Alterando o tamnho do título que aparece na barra encima e a cor*/
  
  .h1, h1 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    color: #ffffff;
  }



.h1, .h2, .h4, .h5, h1, h2, h4, h5 {
  font-family: 'Arial', sans-serif;
  color: #e4eaeb;
}

/* Alterando a cor do sidebar quando é presionado */
  
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    background-color: #64ccbc;
      color: #313333;
  }

.skin-blue .main-header .logo {
  background-color: #0c6e5f;
    border-bottom: 0 solid transparent;
}

/* Alterando a cor da barra vertical, onde fica os icones, as cores dos icones*/
  
.skin-blue .left-side, .skin-blue .main-sidebar, .skin-blue .wrapper {
  background-color: #181c1b;
      
}

.skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a, .skin-blue 
.sidebar-menu>li:hover>a {
  color: #00d1b5;
    background: #1e282c;
}
.skin-blue .sidebar-menu>li.active>a {
  border-left-color: #00d1b5;
}


/*Tamanho do content*/
  
.content {
  min-height: 600px;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  background-color: #ffffff;
}


div#home-narrativa.shiny-text-output.shiny-bound-output{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 16px;
line-height: 1.3;
color: #000000;
  }